<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!workouts || workouts.length <= 0" resetLinkText="Reset Search" ></app-not-found>
<ul>
    <li *ngFor="let workout of workouts">
      <a routerLink="/workout/{{workout.id}}">
        <img src="{{workout.imageUrl}}" alt="">
        <div class="content">
          <div class="name">
            {{workout.name}}
          </div>
          <span class="favourite" [ngClass]="{'filled-heart': workout.favorite, 'empty-heart': !workout.favorite}">
            ❤
          </span>
          <div class="rating">
            <span class="stars">
              <!-- Use ngFor to generate star symbols based on workout.stars -->
              <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
                <span class="star" [ngClass]="{'filled': i < workout.stars}">☆</span>
              </ng-container>
            </span>
          </div>
          <div class="product-item-footer">
            <div class="origins">
                <span *ngFor="let origin of workout.origins">
                     {{origin}}
                </span>
            </div>
            <div class="workout-time">
                <span>🕒</span>
                {{workout.workoutTime}}
            </div>
        </div>
          
          <div class="days">
            <span>
                📆{{workout.days}}
            </span>
          </div>
        </div>
      </a>
    </li>
  </ul>












